<div class="container">
  <h1>Welcome <%= @current_user.first_name %>!</h1>
  <form action="/urls" method="post">
    <p>Full URL</p>
    <input type="text" name="full_url">
    <input type="submit" value="Generate!">
  </form>
  <p>Short URL's</p>
  <ul>
    <% @urls.each do |url| %>
      <% if @current_user.id == url.user_id %>
        <li class="full-url"> <%= url.full_url %> </li>
        <li class="short-url"> <a href=<%= "/url/" + url.short_url %>> <%= url.short_url %> </a></li>
        <li class="click_count"> <%= url.click_count %> </li>
      <% end %>
    <% end %>
  </ul>
</div>
